<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//style/위시리스트.css">
    <title>위시리스트(마이페이지)</title>
</head>

<body>
    <header>헤더</header>
    <div id="wrap">
        <div class="page_title">
            <h1>MyPage</h1>
        </div>
        <div class="mypage">
            <div class="mypage_cata">
                <div id="profile"><img src="../images/Group 100.png" alt=""></div>
                <div id="my_profile">내 프로필</div>
                <div id="order">주문/배송 조회</div>
                <div id="wish-list">위시리스트</div>
                <div id="bag">장바구니</div>
                <div id="money">적립금</div>
                <div class="line"></div>
                <div id="logo_name">KH LEAGUE</div>
                <div class="choices">
                    <div>로그아웃</div>
                    <div>회원 탈퇴</div>
                </div>
            </div>
            <div class="list">
                <div>
                    <h1>WISH LIST</h1>
                </div>
                <div class="listlist">
                    <div class="up_list">
                        <div><img src="../images/굿즈사진 2.png" alt=""></div>
                        <div><img src="../images/굿즈사진2 1.png" alt=""></div>
                        <div><img src="../images/굿즈사진3 1.png" alt=""></div>
                    </div>
                    <div class="down_list">
                        <div><img src="../images/굿즈사진 2.png" alt=""></div>
                        <div><img src="../images/굿즈사진2 1.png" alt=""></div>
                        <div><img src="../images/굿즈사진3 1.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>푸터</footer>
</body>

</html>