* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 20;
}

.menus {
    display: flex;
    position: relative;
    cursor: pointer;
}

.menu {
    padding: 30px;
    position: relative;
}

.bar {
    cursor: pointer;
    padding: 20px 30px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 100%;
    height: 230px;
    left: 0;
    top: 90px;
    z-index: 1;
    text-align: center;
}

.bar div:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.bar div {
    margin: 5px 0;
    padding: 5px;
}

.bar.show {
    opacity: 1;
    visibility: visible;
}

.line {
    width: 1px;
    height: 30px;
    background-color: #fff;
}

.ball_wrap {
    display: flex;
}

.ball_wrap img {
    width: 60px;
    height: 60px;
    margin: 20px;
}

.user_wrap {
    display: flex;
    align-items: center;
}

#wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page_title {
    text-align: center;
    margin: 20px 0;
    border-top: 1px solid #01203F;
    
}

.page_title h1 {
    font-size: 24px;
    color: #01203F;
    margin-top: 20px;
}

.page_title .subtitle {
    color: #888;
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #f8f8f8;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 2, 40, 0.4);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header h2 {
    font-size: 18px;
    color: #01203F;
}

.section-header .required {
    font-size: 14px;
    color: #888;
    display: flex;
    align-items: center;
}

.section-header .required i {
    margin-left: 5px;
    color: #4CAF50;
}

label {
    font-size: 16px;
    margin-top: 15px;
    display: block;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input::placeholder {
    color: #aaa;
}

.btn-check,
.btn-add-email,
.btn-search {
    background-color: #01203F;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.input-other {
    margin-top: 10px;
}

.btn-submit {
    width: 90%;
    max-width: 200px;
    margin: 20px auto;
    display: block;
    background-color: #01203F;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
footer {
    height: 125px;


}

.veryUp {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    height: 80px;
    line-height: 80px ;
}

.veryUp div:nth-child(1) {
    margin-left: 32px;
}

.footer_num {
    display: flex;
    margin-left: 155px;
}

.footer_logo {
    display: flex;
}

.footer_logo div {
    margin-right: 32px;
}

.footer_num div:nth-child(1) {
    margin-right: 5px;
}

.footer_num div:nth-child(2) {
    margin-left: 5px;
}
.veryDown{
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.error-message {
    color: red; 
    font-size: 14px;
    margin-top: 5px; 
    display: none;
}