* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
}

/* 메인 시작 */
.main_img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -9999;
}

.teams_wrap {
	height: 675.17px;
	display: flex;
	justify-content: flex-start;
	/* 왼쪽 정렬 */
	align-items: flex-start;
}

.teams_txt {
	margin-left: 150px;
}

.teams_box {
	margin-top: 150px;
	margin-left: 90px;
}

.page_info {
	background-color: #f7f7f7;
	color: #01203F;
	padding: 30px;
	border-radius: 15px;
}

.page_info div:first-child {
	font-size: 40px;
}

.page_info div:last-child {
	margin-top: 20px;
}

.go_btns {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.go_game_info,
.go_team_info {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 30px;
	border-radius: 15px;
	width: 47%;
	position: relative;
}

.go_game_info p,
.go_team_info p {
	font-size: 30px;
}

.go_game_info img {
	width: 100px;
	position: absolute;
	right: 20px;
}

.go_team_info img {
	width: 180px;
	position: absolute;
	right: 20px;
}

.board_info {
	margin-top: 20px;
}

.go_btn {
	margin-top: 50px;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 15px;
	border: 1px solid #01203F;
	color: #01203F;
}

.go_btn:hover {
	background-color: rgba(255, 255, 255, 0.3);
	transition: background-color 0.5s ease;
}

.box {
	padding: 10px;
	display: flex;
	align-items: center;
}

.soccer_teams {
	margin-left: 20px;
	display: flex;
}

.soccer_teams>div {
	width: 100px;
}

.soccer_teams img {
	max-width: 50px;
	max-height: 50px;
	margin: 0 10px;
}

.baseball_teams {
	margin-left: 20px;
	display: flex;
}

.baseball_teams div {
	width: 100px;
}

.baseball_teams img {
	max-width: 100px;
	max-height: 50px;
	margin: 0 5px;
}

.soccer,
.baseball,
.basketball,
.volleyball {
	border-radius: 5px;
}

.basketball_teams {
	margin-left: 20px;
	display: flex;
}

.basketball_teams div {
	width: 100px;
}

.basketball_teams img {
	max-height: 50px;
	width: 70px;
}

.volleyball_teams {
	margin-left: 20px;
	max-height: 50px;
	display: flex;
	align-items: center;
}

.volleyball_teams div {
	width: 100px;
}

.volleyball_teams img {
	max-width: 60px;
	margin: 0 10px;
}

.box>div:first-child {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 10px 40px;
}

.radius {
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	position: relative;
	bottom: 0;
	top: -40px;
	margin: 0 auto;
}

.news_wrap {
	padding: 0px 50px;
}

.page-title {
	border-top: 2px solid #01203F;
	width: 1440px;
	margin: 0 auto;
}

.page-title h1 {
	display: inline-block;
	background-color: #fff;
	position: relative;
	top: -23px;
	padding-right: 20px;
}

.news_container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news_box {
	background-color: #01203F;
	padding: 80px 40px 40px 40px;
	display: flex;
	border-radius: 20px;
}

.type {
	padding: 10px;
	width: 150px;
	background-color: #fff;
	position: relative;
	text-align: center;
}

.type div {
	margin: 10px;
	padding: 10px;
}

.type div:hover {
	background-color: rgba(185, 185, 195, 0.8);
	border-radius: 5px;
	transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.type div.type_act {
	background-color: rgba(185, 185, 195, 0.8);
	border-radius: 5px;
	transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.select_type {
	position: absolute;
	top: -40px;
	left: 0;
	text-align: center;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	margin: 0 auto !important;
	color: #fff;
	background-color: #0344DC;
}

.news_info {
	padding: 20px;
	background-color: #fff;
	margin-left: 30px;
	text-align: center;
	width: 180px;
}

.vs_box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.team1 {
	width: 50px;
	height: 50px;
	background-color: #d9d9d9;
	border-radius: 30px;
	margin-right: 15px;
}

.vs {
	font-weight: bold;
	color: #01203F;
}

.team2 {
	width: 50px;
	height: 50px;
	background-color: #d9d9d9;
	border-radius: 30px;
	margin-left: 15px;
}

.score_box {
	margin-top: 50px;
}

.score {
	font-size: 50px;
}

.main_event a{
	color: #01203F;
}

.main_event{position: relative;}
.tabmenu{display: flex;}
.tabmenu table tr th{padding: 10px; width: 310px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.tabmenu>li>h2>a{display: block; padding: 10px;}
.tabmenu>li.on>h2>a{color: #0344DC;}
.tabcon{position: absolute; left: 0; width: 100%; height: 100%; border: 1px solid #d9d9d9; padding: 10px;}
.event{display: none;}
.morebtn{
	background-color: #01203F;
	padding: 5px;
	position: absolute;
	top: 10px;
	right: 0;
	cursor: pointer;
}
.morebtn a{	color: #fff;}

/* 달력 시작 */
.calendar_area {
	width: 400px;
	margin-left: 50px;
}

.calendar_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.year-month {
	font-size: 25px;
	font-weight: 700;
	font-style: bold;
	margin-left: 20px;
	color: #363636;
}

.nav {
	display: flex;
	border-radius: 5px;
}

.nav button {
	width: 30px;
	height: 30px;
	background-color: #01203F;
	border: 1px solid #FFFFFF;
	margin: 2px;
	color: #FFFFFF;
}

.nav button:nth-child(2) {
	width: 90px;
}

button:hover {
	opacity: 0.8;
}

.nav-btn {
	width: 28px;
	height: 30px;
	border: none;
	font-size: 16px;
	line-height: 34px;
	background-color: transparent;
}

.go-today {
	width: 75px;
	color: #FFFFFF;
}

.days {
	display: flex;
	margin: 25px 0 5px;
	color: #363636;
}

.day {
	width: calc(100% / 7);
	text-align: center;
}

.dates {
	display: flex;
	flex-flow: row wrap;
}

.date {
	display: inline-block;
	width: 30px;
	/* 각 날짜의 넓이 고정 */
	height: 30px;
	/* 각 날짜의 높이 고정 */
	margin: 5px;
	/* 날짜들 사이의 간격 */
	text-align: center;
	/* 날짜를 가운데 정렬 */
	vertical-align: top;
	/* 세로 정렬 */
	line-height: 30px;
	/* 날짜 텍스트의 세로 가운데 정렬 */
}

/*.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
	color: #D13E3E;
}*/

/*.day:nth-child(7n),
.date:nth-child(7n) {
	color: #396EE2;
}
*/
.other {
	opacity: .3;
}

/*.today {
	position: relative;
	color: white;
	background-color: #01203F;
	border-radius: 50%;
	width: 23px;
	height: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.match-day {
	background-color: #01203F;
	color: white;
	border-radius: 50%;

	padding: 5px;

	display: flex;

	justify-content: center;

	align-items: center;

	font-weight: bold;

	box-sizing: border-box;

}

.today::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	display: block;
	width: 30px;
	/* 배경 원 크기 */
	height: 30px;
	/* 배경 원 크기 */
	background-color: #01203F;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	content: '';
}


/* 달력 끝 */

.background_container {
	margin-top: 100px;
	background-color: #F4F4F4;
}

.cheering_board_wrap {
	padding: 50px 0;
}

.cheering_back {
	width: 800px;
	background-color: #B9B9C3;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 30px;
}

.cheering_txt {
	background-color: #fff;
	display: inline-block;
	padding: 10px 30px;
}

.cheering_board_list {
	margin-top: 20px;
	background-color: #fff;
	padding: 10px 30px;
	width: 500px;
}

.c_flex {
	display: flex;
	align-items: center;
}

.go_c_board {
	background-color: #01203F;
	color: #fff;
	padding: 20px;
	margin-left: 50px;
	border-radius: 30px;
	margin-top: 30px;
}

.event_board_wrap {
	display: flex;
	justify-content: flex-end;
}

.event_back {
	width: 1200px;
	background-color: #B9B9C3;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding: 50px 0 50px 50px;
}

.top_event_wrap {
	display: flex;
	align-items: center;
}

.gongzi {
	background-color: #fff;
	padding: 10px;
}

.more_info {
	color: #0344DC;
	font-weight: bold;
	margin-left: 400px;
	position: absolute;
	top: -30px;
	left: 100px;
}

.bottom_event_wrap {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.event_list {
	background-color: #fff;
	width: 600px;
}

.event_list div {
	margin: 30px;
}

.goods_wrap {
	padding-top: 50px;
}

.goods_back {
	background-color: #B9B9C3;
	border-top-left-radius: 30px;
	padding: 50px 50px 40px;
}

.page-title_goods {
	border-top: 2px solid #01203F;
	width: 1440px;
	margin: 0 auto;
}

.page-title_goods h1 {
	display: inline-block;
	background-color: #B9B9C3;
	position: relative;
	top: -23px;
	padding-right: 20px;
}

.goods_type_box {
	display: flex;
	justify-content: center;
}

.goods_type {
	margin: 20px;
	color: #01203F;
	padding: 10px 20px;
	border-radius: 15px;
	background-color: #fff;
	cursor: pointer;
}

.goods_type.act {
	background-color: #01203F;
	color: #fff;
}

.goods_view_wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.left_btn,
.right_btn {
	border: 1px solid #fff;
	padding: 20px;
	color: #fff;
}

.left_btn:hover,
.right_btn:hover {
	background-color: #fff;
	color: #B9B9C3;
	transition: background-color 0.5s ease, border-radius 0.5s ease;
	cursor: pointer;
}

.view_more_btn {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}

.view_more_btn a {
	background-color: #01203F;
	color: #fff;
	padding: 10px 20px;
}

.view_more_btn a:hover {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.support_wrap {
	background-color: #fff;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.support_img img {
	max-height: 50px;
}

/* 추가 */
.main_news {
	display: flex;
	width: 1440px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.main_event {
	/* border: 1px solid black; */
	width: 30%;
	height: 330px;
}

.main_play {
	/* border: 1px solid black; */
	margin-left: 30px;
	width: 70%;
	display: flex;
	/* padding-top: 60px; */
	background-color: #F4F4F4;
	padding: 50px;
	justify-content: space-between;
	border-radius: 25px;
	margin-bottom: 0px;
}

.calendar_area {
	width: 324px;
}

.main_table {
	width: 400px;
	height: 225px;
	border-radius: 15px;
	background-color: white;
	overflow: hidden;
	text-align: center;
}

.event_top {
	display: flex;
	justify-content: space-between;
}

.event_item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.main_table tr th {
	background-color: #01203F;
	color: white;
}

.event_tap {
	display: flex;
	margin-bottom: 30px;

}

.play_infor {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.event_tap div::after {
	content: "";
	display: block;
	background-color: #01203F;
	width: 100%;
	height: 2px;
	margin-top: 3px;
}

.event_tap div {
	margin-right: 35px;
}

.main_play_infor {
	margin-left: 50px;
}

.cal {
	padding-left: -20px;
}

/* 십자가 버튼 스타일 */
.cross-btn {
	background-color: #01203F;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 십자가의 가로선 */
.cross-line {
	background-color: white;
	position: absolute;
	width: 20px;
	height: 1px;
	right: 5px;
}

/* 세로선 스타일 */
.cross-line:first-child {
	transform: rotate(90deg);
	/* 세로선으로 회전 */
}

/*메인페이지 디자인 추가*/

.play_one {
	width: 1440px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	margin-bottom: 50px;
	background-color: #F9F9F9;
}


.play_one_left {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 30px;

}

.play_one_left img {
	width: 809px;
	max-width: 1000px;
	height: auto;

	object-fit: cover;

}


.play_one_right {
	width: 46%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	padding: 20px;
}


.play_one_right_up,
.play_one_right_down {
	width: 100%;
	background-color: #F4F4F4;
	padding: 20px;
	border-radius: 12px;
	margin-bottom: 20px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.play_one_right_up:hover,
.play_one_right_down:hover {
	transform: translateY(-5px);
	background-color: #E1E6F2;
}


.play_one_right_up h3,
.play_one_right_down h3 {
	font-size: 23px;
	font-weight: bold;
	color: #01203F;
	margin-bottom: 15px;
	text-align: left;
	line-height: 1.4;
}


.play_one_right_up p,
.play_one_right_down p {
	font-size: 18px;
	color: #606060;
	line-height: 1.6;
	margin-bottom: 15px;
}


#tem_info {
	width: 120px;
	height: 50px;
	border: none;
	border: 2px solid #01203F;
	background-color: #01203F;
	color: white;
	border-radius: 30px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease, transform 0.3s ease;
	margin-top: 20px;
}

#tem_info a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}

#tem_info a p {
	margin: 0;
	font-size: 20px;
	color: white;
}

#tem_info a p:hover {
	color: #01203F;
}

#tem_info:hover {
	background-color: white;
	color: #01203F;
	transform: translateY(-3px);
}

.play_one_right_down button {
	width: 100%;
	padding: 15px;
	background-color: #0344DC;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 30px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.play_one_right_down button:hover {
	background-color: #01203F;
	transform: translateY(-3px);
}


button:hover {
	opacity: 0.8;
}


.play_one_right_up,
.play_one_right_down {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.play_one_right_up p,
.play_one_right_down p {
	font-size: 20px;
	color: #606060;
	line-height: 1.6;
}

.goods_select_box{
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 700px;
	/*1440*/
	margin: 0 auto;
}

.goods_select_btn{
    padding: 20px;
    color: #B9B9C3;
	border-right: 1px solid #d9d9d9;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

#ot{
	border-right: none;
}

.goods_select_btn.act{
    padding: 20px;
	color: #0344DC;
    text-align: center;
}

.goods_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: 
	center;
}

.goods img{
    max-width: 250px;
    cursor: pointer;
}

.himg {
	height: 350px;
	display: flex;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	margin: 25px;
}

.more_btn{
	margin: 0 auto;
	border: 1px solid #d9d9d9;
	padding: 10px;
	width: 100px;
	text-align: center;
	margin-top: 50px;
	cursor: pointer;
}

.more_btn a{
	color: #d9d9d9;
}

.more_btn:hover, .more_btn:hover>a{
	background-color: #d9d9d9;
	color: #fff;
}