<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/index.css">
	<title>KH REAGUE</title>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>

	<div class="container">
		<div class="main_wrap">
			<div class="main_img">
				<img src="/images/메인 사진/메인 사진.png" alt="">
			</div>

			<div class="teams_wrap">
				<div class="teams_box">
					<div class="box">
						<div class="soccer">축구</div>
						<div class="soccer_teams">
							<div> <img src="/images/구단/축구/서울fc.png" alt=""></div>
							<div> <img src="/images/구단/축구/수원fc.png" alt=""></div>
							<div> <img src="/images/구단/축구/울산fc.png" alt=""></div>
							<div> <img src="/images/구단/축구/전북.png" alt=""></div>
							<div> <img src="/images/구단/축구/포항.png" alt=""></div>
						</div>
					</div>

					<div class="box">
						<div class="baseball">야구</div>
						<div class="baseball_teams">
							<div> <img src="/images/구단/야구/삼성라이온즈.png" alt=""></div>
							<div> <img src="/images/구단/야구/LG트윈스.png" alt=""></div>
							<div> <img src="/images/구단/야구/kt위즈.png" alt=""></div>
							<div> <img src="/images/구단/야구/두산베어스.png" alt=""></div>
							<div><img src="/images/구단/야구/기아타이거즈.png" alt=""></div>





						</div>
					</div>

					<div class="box">
						<div class="basketball">농구</div>
						<div class="basketball_teams">
							<div> <img src="/images/구단/농구/고양소노.svg" alt=""></div>
							<div><img src="/images/구단/농구/대구한국가스공사.svg" alt=""></div>
							<div><img src="/images/구단/농구/서울sk.svg" alt=""></div>
							<div> <img src="/images/구단/농구/울산현대모비스.svg" alt=""></div>
							<div> <img src="/images/구단/농구/창원lg.svg" alt=""></div>





						</div>
					</div>

					<div class="box">
						<div class="volleyball">배구</div>
						<div class="volleyball_teams">
							<div><img src="/images/구단/배구/수원한국전력.png" alt=""></div>
							<div> <img src="/images/구단/배구/안산ok저축은행.png" alt=""></div>
							<div> <img src="/images/구단/배구/의정부kb손해보험.png" alt=""></div>
							<div> <img src="/images/구단/배구/인천대한항공점보스.png" alt=""></div>
							<div> <img src="/images/구단/배구/천안현대캐피탈.png" alt=""></div>





						</div>
					</div>
				</div>
				<div class="teams_txt">
					<div class="page_info">
						<div>팀별 전력을 확인해보세요!</div>
						<div>원하시는 팀의 전력을 확인하실 수 있습니다</div>
					</div>
					<div class="go_btns">
						<div class="go_game_info">
							<p>경기 정보</p>
							<div class="board_info">최신 경기 정보와 일정, 결과를 한눈에 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 확인하세요!
							</div>
							<img src="/images/메인 사진/축구공트로피.png" alt="">
							<i class="fa-solid fa-trophy"></i>
							<div class="go_btn"><a href="">GO</a></div>
						</div>
						<div class="go_team_info">
							<p>구단 정보</p>
							<div class="board_info">각 구단의 정보, 선수 및 감독을 만나보세요!</div>
							<img src="/images/메인 사진/운동선수.png" alt="">
							<div class="go_btn"><a href="/team/team_info">GO</a></div>
						</div>
					</div>
				</div>
			</div>

			<div class="radius"></div>
		</div>

		<div class="news_wrap">
			<div class="page-title">
				<h1>Sports NEWS</h1>
			</div>
			<div class="main_news">
				<div class="main_event">
					<div class="event_top">
						<div class="event_tap">
							<div>이벤트</div>
							<div>공지사항</div>
						</div>
						<div>

							<button class="cross-btn">
								<span class="cross-line"></span>
								<span class="cross-line"></span>
							</button>
						</div>
					</div>
					<div class="event_down">
						<div class="event_item">
							<div>공지사항입니다.</div>
							<div>2024.11.15</div>
						</div>
						<div class="event_item">
							<div>공지사항입니다.</div>
							<div>2024.11.15</div>
						</div>
						<div class="event_item">
							<div>공지사항입니다.</div>
							<div>2024.11.15</div>
						</div>
						<div class="event_item">
							<div>공지사항입니다.</div>
							<div>2024.11.15</div>
						</div>
						<div class="event_item">
							<div>공지사항입니다.</div>
							<div>2024.11.15</div>
						</div>

					</div>


				</div>
				<div class="main_play">
					<div class="cal">
						<div class="calendar_area">
							<!-- 달력 헤더 -->
							<div class="calendar_header">
								<div class="year-month" style="font-size: 22px;"></div>
								<div class="nav">
									<button class="nav_btn go-prev" onclick="prevMonth()">&lt;</button>
									<button class="nav_btn go-today" onclick="goToday()">Today</button>
									<button class="nav_btn go-next" onclick="nextMonth()">&gt;</button>
								</div>
							</div>

							<!-- 달력 메인 -->
							<div class="calendar_main" style="font-size: 15px;">
								<!-- 달력 요일 -->
								<div class="days">
									<div class="day">일</div>
									<div class="day">월</div>
									<div class="day">화</div>
									<div class="day">수</div>
									<div class="day">목</div>
									<div class="day">금</div>
									<div class="day">토</div>
								</div>

								<!-- 달력 날짜 -->
								<div class="dates" style="font-size: 15px;"></div>
							</div>

						</div>
					</div>
					<div class="main_play_infor">
						<div class="play_infor">
							<div>
								<p style="font-size: 20px;">행사 일정</p>
							</div>
							<div>
								<button class="cross-btn">
									<span class="cross-line"></span>
									<span class="cross-line"></span>
								</button>
							</div>
						</div>
						<div>
							<table class="main_table">
								<tr>
									<th>
										<p>22일</p>
										<p>목요일</p>
									</th>
									<td>윤경수</td>
									<td>VS</td>
									<td>윤혜정</td>
								</tr>
								<tr>
									<th>
										<p>22일</p>
										<p>목요일</p>
									</th>
									<td>윤경수</td>
									<td>VS</td>
									<td>윤혜정</td>
								</tr>
								<tr>
									<th>
										<p>22일</p>
										<p>목요일</p>
									</th>
									<td>윤경수</td>
									<td>VS</td>
									<td>윤혜정</td>
								</tr>
							</table>
						</div>
					</div>
				</div>


			</div>
			<div class="page-title">
				<h1>Goods</h1>
			</div>

			<div class="goods_cata">
				<div></div>
			</div>






		</div>
	</div>

	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/index.js"></script>

</html>