<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/index.css">
	<title>KH REAGUE</title>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>

	<div class="container">
		<div class="main_wrap">
			<div class="main_img">
				<img src="/images/메인 사진/메인 사진.png" alt="">
			</div>

			<div class="teams_wrap">
				<div class="teams_box">
					<div class="box">
						<div class="soccer">축구</div>
						<div class="soccer_teams">
							<div> <img src="/images/구단/축구/서울fc.png" alt=""></div>
							<div> <img src="/images/구단/축구/수원fc.png" alt=""></div>
							<div> <img src="/images/구단/축구/울산fc.png" alt=""></div>
							<div> <img src="/images/구단/축구/전북.png" alt=""></div>
							<div> <img src="/images/구단/축구/포항.png" alt=""></div>
						</div>
					</div>

					<div class="box">
						<div class="baseball">야구</div>
						<div class="baseball_teams">
							<div> <img src="/images/구단/야구/삼성라이온즈.png" alt=""></div>
							<div> <img src="/images/구단/야구/LG트윈스.png" alt=""></div>
							<div> <img src="/images/구단/야구/kt위즈.png" alt=""></div>
							<div> <img src="/images/구단/야구/두산베어스.png" alt=""></div>
							<div><img src="/images/구단/야구/기아타이거즈.png" alt=""></div>





						</div>
					</div>

					<div class="box">
						<div class="basketball">농구</div>
						<div class="basketball_teams">
							<div> <img src="/images/구단/농구/고양소노.svg" alt=""></div>
							<div><img src="/images/구단/농구/대구한국가스공사.svg" alt=""></div>
							<div><img src="/images/구단/농구/서울sk.svg" alt=""></div>
							<div> <img src="/images/구단/농구/울산현대모비스.svg" alt=""></div>
							<div> <img src="/images/구단/농구/창원lg.svg" alt=""></div>





						</div>
					</div>

					<div class="box">
						<div class="volleyball">배구</div>
						<div class="volleyball_teams">
							<div><img src="/images/구단/배구/수원한국전력.png" alt=""></div>
							<div> <img src="/images/구단/배구/안산ok저축은행.png" alt=""></div>
							<div> <img src="/images/구단/배구/의정부kb손해보험.png" alt=""></div>
							<div> <img src="/images/구단/배구/인천대한항공점보스.png" alt=""></div>
							<div> <img src="/images/구단/배구/천안현대캐피탈.png" alt=""></div>





						</div>
					</div>
				</div>
				<!--		<div class="teams_txt">
					<div class="page_info">
						<div>팀별 전력을 확인해보세요!</div>
						<div>원하시는 팀의 전력을 확인하실 수 있습니다</div>
					</div>
					<div class="go_btns">
						<div class="go_game_info">
							<p>경기 정보</p>
							<div class="board_info">최신 경기 정보와 일정, 결과를 한눈에 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 확인하세요!
							</div>
							<img src="/images/메인 사진/축구공트로피.png" alt="">
							<i class="fa-solid fa-trophy"></i>
							<div class="go_btn"><a href="/play_info/play_info">GO</a></div>
						</div>
						<div class="go_team_info">
							<p>구단 정보</p>
							<div class="board_info">각 구단의 정보, 선수 및 감독을 만나보세요!</div>
							<img src="/images/메인 사진/운동선수.png" alt="">
							<div class="go_btn"><a href="/team/team_info">GO</a></div>
						</div>
					</div>
				</div>-->
			</div>

			<div class="radius"></div>
		</div>

		<div class="news_wrap">
			<div class="page-title">
				<h1>Sports NEWS</h1>
			</div>
			<div class="main_news">
				<div class="main_event">
					<ul class="tabmenu">
						<li class="on">
							<h2><a href="#">공지사항</a></h2>

							<div class="notice tabcon">
								<table>
									<tr th:each="eboard:${eboardlist}">
										<th th:if="${eboard.eboardtitle.contains('공지사항')}">[[${eboard.eboardtitle}]]
										</th>
										<td th:if="${eboard.eboardtitle.contains('공지사항')}" class="boardtime">
											[[${eboard.edate}]]</td>
									</tr>
								</table>
							</div>
						</li>
						<li>
							<h2><a href="#">이벤트</a></h2>
							<div class="event tabcon">
								<table>
									<tr th:each="eboard:${eboardlist}">
										<th th:if="${eboard.eboardtitle.contains('이벤트')}">[[${eboard.eboardtitle}]]</th>
										<td th:if="${eboard.eboardtitle.contains('이벤트')}" class="boardtime">
											[[${eboard.edate}]]</td>
									</tr>
								</table>
							</div>
						</li>
						<div class="morebtn"><a href="/event/notice">더보기</a></div>
					</ul>

				</div>
				<div class="main_play">
					<div class="cal">
						<div class="calendar_area">
							<!-- 달력 헤더 -->
							<div class="calendar_header">
								<div class="year-month" style="font-size: 22px;"></div>
								<div class="nav">
									<button class="nav_btn go-prev" onclick="prevMonth()">&lt;</button>
									<button class="nav_btn go-today" onclick="goToday()">Today</button>
									<button class="nav_btn go-next" onclick="nextMonth()">&gt;</button>
								</div>
							</div>

							<!-- 달력 메인 -->
							<div class="calendar_main" style="font-size: 15px;">
								<!-- 달력 요일 -->
								<div class="days">
									<div class="day">일</div>
									<div class="day">월</div>
									<div class="day">화</div>
									<div class="day">수</div>
									<div class="day">목</div>
									<div class="day">금</div>
									<div class="day">토</div>
								</div>

								<!-- 달력 날짜 -->
								<div class="dates" style="font-size: 15px;"></div>
							</div>

						</div>
					</div>
					<div class="main_play_infor">
						<div class="play_infor">
							<div>
								<p style="font-size: 20px;">행사 일정</p>
							</div>
							<div>
								<button class="cross-btn">
									<a href="/play_info/play_info">

										<span class="cross-line"></span>
										<span class="cross-line"></span>
									</a>
								</button>
							</div>
						</div>
						<div>
							<table class="main_table">

								<th:block th:each="match : ${upcomingMatches}">
									<tr>
										<th>

											<p class="match-date" th:data-date="${match.gWdate}"></p>

											<p class="match-day"></p>
										</th>

										<td th:text="${match.team1name}"></td>
										<td>VS</td>

										<td th:text="${match.team2name}"></td>
									</tr>
								</th:block>
							</table>
						</div>
					</div>
				</div>


			</div>
			<div class="page-title">
				<h1> INFOR</h1>
			</div>
			<div class="play_one">
				<div class="play_one_left"><img src="/images/메인 사진/운동선수.png" alt=""></div>
				<div class="play_one_right">
					<div class="play_one_right_up">
						<div>
							<p style="font-size: 22px; margin-bottom: 10px;">각 구단의 정보, 선수 및 감독을 만나보세요!</p>
						</div>
						<div class="down">
							<button id="tem_info"><a href="/team/team_info">
									<p style="font-size: 18px;">GO</p>
								</a></button>
						</div>
					</div>
					<div class="play_one_right_down">
						<div>
							<p style="font-size: 22px; margin-bottom: 10px;">최신 경기 정보와 일정, 결과를 한눈에 확인하세요</p>
						</div>
						<div class="down">
							<button id="tem_info"><a href="/play_info/play_info">
									<p style="font-size: 18px;">GO</p>
								</a></button>
						</div>
					</div>
				</div>

			</div>
			
			<div class="page-title">
				<h1>Goods</h1>
			</div>
			
			<div class="goods_select_box">
				<div class="goods_select_btn">
					Outerwear
				</div>
				<div class="goods_select_btn">
					Top
				</div>
				<div class="goods_select_btn">
					Bottom
				</div>
				<div class="goods_select_btn">
					Accessories
				</div>
				<div class="goods_select_btn" id="ot">
					Other items
				</div>
			</div>

			<div class="goods_wrap">
				<div class="goods" th:if="${goodsList != null and goodsList.size() > 0}" th:each="goods:${goodsList}"
					th:id="${goods.goodstype}">
					<div class="himg">
						<img th:src="${goods.goodsimg}" alt="">
					</div>
				</div>
			</div>
<!--dd-->
			<div class="more_btn">
				<a href="/goods/goods">더보기</a>
			</div>

		</div>
	</div>

	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/index.js"></script>

</html>