<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/index.css">
    <title>KH REAGUE</title>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>

    <div class="container">
        <div class="main_wrap">
            <div class="main_img">
                <img src="/images/메인 사진/메인 사진.png" alt="">
            </div>

            <div class="teams_wrap">
                <div class="teams_box">
                    <div class="box">
                        <div class="soccer">축구</div>
                        <div class="soccer_teams">
                            <img src="/images/구단/서울fc.png" alt="">
                            <img src="/images/구단/수원fc.png" alt="">
                            <img src="/images/구단/울산fc.png" alt="">
                            <img src="/images/구단/전북.png" alt="">
                            <img src="/images/구단/포항.png" alt="">
                        </div>
                    </div>

                    <div class="box">
                        <div class="baseball">야구</div>
                        <div class="baseball_teams">
                            <img src="/images/구단/삼성라이온즈.png" alt="">
                            <img src="/images/구단/LG트윈스.png" alt="">
                            <img src="/images/구단/kt위즈.png" alt="">
                            <img src="/images/구단/두산베어스.png" alt="">
                            <img src="/images/구단/기아타이거즈.png" alt="">
                        </div>
                    </div>

                    <div class="box">
                        <div class="basketball">농구</div>
                        <div class="basketball_teams">
                            <img src="/images/구단/고양소노.svg" alt="">
                            <img src="/images/구단/대구한국가스공사.svg" alt="">
                            <img src="/images/구단/서울sk.svg" alt="">
                            <img src="/images/구단/울산현대모비스.svg" alt="">
                            <img src="/images/구단/창원lg.svg" alt="">
                        </div>
                    </div>

                    <div class="box">
                        <div class="volleyball">배구</div>
                        <div class="volleyball_teams">
                            <img src="/images/구단/수원한국전력.png" alt="">
                            <img src="/images/구단/안산ok저축은행.png" alt="">
                            <img src="/images/구단/의정부kb손해보험.png" alt="">
                            <img src="/images/구단/인천대한항공점보스.png" alt="">
                            <img src="/images/구단/천안현대캐피탈.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="teams_txt">
                    <div class="page_info">
                        <div>팀별 전력을 확인해보세요!</div>
                        <div>원하시는 팀의 전력을 확인하실 수 있습니다</div>
                    </div>
                    <div class="go_btns">
                        <div class="go_game_info">
                            <p>경기 정보</p>
                            <div class="board_info">최신 경기 정보와 일정, 결과를 한눈에 확인하세요!</div>
                            <img src="/images/메인 사진/축구공트로피.png" alt="">
                            <i class="fa-solid fa-trophy"></i>
                            <div class="go_btn"><a href="">GO</a></div>
                        </div>
                        <div class="go_team_info">
                            <p>구단 정보</p>
                            <div class="board_info">각 구단의 정보, 선수 및 감독을 만나보세요!</div>
                            <img src="/images/메인 사진/운동선수.png" alt="">
                            <div class="go_btn"><a href="/team/team_info">GO</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="radius"></div>
        </div>

        <div class="news_wrap">
            <div class="page-title">
                <h1>Sports NEWS</h1>
            </div>

            <div class="news_container">
                <div class="news_box">
                    <div class="type">
                        <div class="select_type">종목선택</div>
                        <div>축구</div>
                        <div>야구</div>
                        <div>농구</div>
                        <div>배구</div>
                    </div>

                    <div class="news_info">
                        <div class="vs_box">
                            <div class="team1">

                            </div>
                            <div class="vs">VS</div>
                            <div class="team2">

                            </div>
                        </div>

                        <div class="score_box">
                            <div class="score">
                                3 : 0
                            </div>
                        </div>
                    </div>

                    <div class="news_info">
                        <div class="vs_box">
                            <div class="team1">

                            </div>
                            <div class="vs">VS</div>
                            <div class="team2">

                            </div>
                        </div>

                        <div class="score_box">
                            <div class="score">
                                3 : 0
                            </div>
                        </div>
                    </div>

                    <div class="news_info">
                        <div class="vs_box">
                            <div class="team1">

                            </div>
                            <div class="vs">VS</div>
                            <div class="team2">

                            </div>
                        </div>

                        <div class="score_box">
                            <div class="score">
                                3 : 0
                            </div>
                        </div>
                    </div>

                    <div class="news_info">
                        <div class="vs_box">
                            <div class="team1">

                            </div>
                            <div class="vs">VS</div>
                            <div class="team2">

                            </div>
                        </div>

                        <div class="score_box">
                            <div class="score">
                                3 : 0
                            </div>
                        </div>
                    </div>
                </div>

                <div class="calendar_area">
                    <!-- 달력 헤더 -->
                    <div class="calendar_header">
                        <div class="year-month"></div>
                        <div class="nav">
                            <button class="nav_btn go-prev" onclick="prevMonth()">&lt;</button>
                            <button class="nav_btn go-today" onclick="goToday()">Today</button>
                            <button class="nav_btn go-next" onclick="nextMonth()">&gt;</button>
                        </div>
                    </div>

                    <!-- 달력 메인 -->
                    <div class="calendar_main">
                        <!-- 달력 요일 -->
                        <div class="days">
                            <div class="day">일</div>
                            <div class="day">월</div>
                            <div class="day">화</div>
                            <div class="day">수</div>
                            <div class="day">목</div>
                            <div class="day">금</div>
                            <div class="day">토</div>
                        </div>

                        <!-- 달력 날짜 -->
                        <div class="dates"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="background_container">
            <div class="cheering_board_wrap">
                <div class="cheering_back">
                    <div class="cheering_txt">
                        당신의 팀을 응원해보세요!
                    </div>

                    <div class="c_flex">
                        <div class="cheering_board_list">
                            <div class="c_list">이게 팀이냐</div>
                            <div class="c_list">개못한다</div>
                            <div class="c_list">윤혜정팀은 좀 잘하네</div>
                        </div>
                        <div class="go_c_board">
                            바로가기
                        </div>
                    </div>
                </div>
            </div>

            <div class="event_board_wrap">
                <div class="event_back">
                    <div class="top_event_wrap">
                        <div class="gongzi">
                            공지사항
                        </div>
                    </div>

                    <div class="bottom_event_wrap">
                        <a href="#" class="more_info">
                            more_info +
                        </a>
                        <div class="event_list">
                            <div>[이벤트] 2024-05-16 일자 경기 추첨 결과...</div>
                            <div>[이벤트] 2024-05-16 일자 경기 추첨 결과...</div>
                            <div>[이벤트] 2024-05-16 일자 경기 추첨 결과...</div>
                            <div>[이벤트] 2024-05-16 일자 경기 추첨 결과...</div>
                            <div>[이벤트] 2024-05-16 일자 경기 추첨 결과...</div>
                        </div>

                        <div class="event_img">
                            <img src="/images/메인 사진/운동.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="goods_wrap">
                <div class="goods_back">
                    <div class="page-title_goods">
                        <h1>GOODS SHOP</h1>
                    </div>

                    <div class="goods_type_box">
                        <div class="goods_type">
                            Outerwear
                        </div>
                        <div class="goods_type">
                            Top
                        </div>
                        <div class="goods_type">
                            Bottom
                        </div>
                        <div class="goods_type">
                            Accessories
                        </div>
                        <div class="goods_type">
                            Other items
                        </div>
                    </div>

                    <div class="goods_view_wrap">
                        <div class="left_btn">
                            <p>〈</p>
                        </div>

                        <div class="goods">
                            <img src="/images/굿즈/굿즈사진.jpg" alt="">
                            <img src="/images/굿즈/굿즈사진2.jpg" alt="">
                            <img src="/images/굿즈/굿즈사진3.jpg" alt="">
                            <img src="/images/굿즈/굿즈사진.jpg" alt="">
                            <img src="/images/굿즈/굿즈사진2.jpg" alt="">
                            <img src="/images/굿즈/굿즈사진3.jpg" alt="">
                        </div>

                        <div class="right_btn">
                            <p>〉</p>
                        </div>
                    </div>

                    <div class="view_more_btn">
                        <a href="#">view_more</a>
                    </div>
                </div>
            </div>

            <div class="support_wrap">
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/아디다스.png" alt="">
                    </div>
                </div>
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/하나은행.png" alt="">
                    </div>
                </div>
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/ea스포츠.png" alt="">
                    </div>
                </div>
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/쿠팡플레이.png" alt="">
                    </div>
                </div>
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/동원.png" alt="">
                    </div>
                </div>
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/링티.png" alt="">
                    </div>
                </div>
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/세븐.png" alt="">
                    </div>
                </div>
                <div class="support">
                    <div class="support_img">
                        <img src="/images/아이콘/sorare.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/index.js"></script>
</html>