<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/team/team_info.css">
	<title>Team INFO</title>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>

	<div class="modal" th:each="player : ${playerlist}" th:id="${player.playernum}">
		<div class="modal_popup">
			<div class="modal_img">
				<div class="img_bg">
					<img src="/images/선수/선수프로필.jpg" alt="">
				</div>

				<div class="type">
					<div>SOCCER</div>
					<img src="/images/구단/구단 엠블럼1.png" alt="">
				</div>
			</div>

			<div class="modal_info">
				<div class="modal_player_name">
					<p>[[${player.playername}]]</p>
					<p>[[${player.playerEname}]]</p>
				</div>

				<div class="modal_player_info">
					<table>
						<tbody>
							<tr>
								<td>국적</td>
								<td>[[${player.playerCountry}]]</td>
							</tr>
							<tr>
								<td>포지션</td>
								<td>[[${player.playerP}]]</td>
							</tr>
							<tr>
								<td>나이</td>
								<td>[[${player.playerAge}]]</td>
							</tr>
							<tr>
								<td>키</td>
								<td>[[${player.playerH}]]</td>
							</tr>
							<tr>
								<td>몸무게</td>
								<td>[[${player.playerW}]]</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="modal_close_btn">
				<div onclick="close_modal()">닫기</div>
			</div>

		</div>
	</div>

	<div class="top_container">
	</div>

	<div class="container_wrap">
		<div class="container">

			<div class="select_wrap">
				<div class="select_box">
					<div class="select_team">
						<div class="team_txt">구단 선택</div>
						<div class="team_box">
							<ul class="soccer">
								<li><a href="/team/soccer/info_fc_seoul">FC 서울</a></li>
								<li>전북 현대 모터스</li>
								<li>수원 FC</li>
								<li>울산 현대 FC</li>
								<li>포항 스틸러스</li>
							</ul>
						</div>
					</div>

					<div class="select_position">
						<div class="position_txt">포지션 선택</div>
						<div class="position_box">
							<ul class="soccer">
								<li>감독</li>
								<li>GK</li>
								<li>DF</li>
								<li>MF</li>
								<li>FW</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="search_box">
					<input type="search">
					<a href="#">검색</a>
				</div>
			</div>

			<div class="team_info_wrap">
				<div class="team_img">
					<img src="/images/구단/축구/서울fc.png" alt="">
				</div>

				<div class="team_info">
					<div class="team_name">FC 서울</div>

					<div class="go_team">
						<a href="https://www.fcseoul.com/" target="_blank">사이트 바로가기</a>
					</div>
				</div>
			</div>

			<div class="player_info_wrap">
				<div class="players">
					<div class="player">
						<div class="positiontxt">골키퍼</div>
						<div class="position" id="GK">
							<div class="sun">								
							<div th:each="player : ${playerlist}" th:if="${player.playerP == '골키퍼'}">
								<img src="/images/선수/선수프로필.jpg" alt="" th:id="${player.playernum}"
									onclick="open_modal(this)">
								<div class="playername">[[${player.playername}]]</div>
							</div>
							</div>
						</div>

						<div class="positiontxt">수비수</div>
						<div class="position" id="DF">
							<div class="sun">								
								<div th:each="player : ${playerlist}" th:if="${player.playerP == '수비수'}">
									<img src="/images/선수/선수프로필.jpg" alt="" th:id="${player.playernum}"
										onclick="open_modal(this)">
									<div class="playername">[[${player.playername}]]</div>
								</div>
								</div>
						</div>

						<div class="positiontxt">미드필더</div>
						<div class="position" id="MF">
							<div class="sun">								
								<div th:each="player : ${playerlist}" th:if="${player.playerP == '미드필더'}">
									<img src="/images/선수/선수프로필.jpg" alt="" th:id="${player.playernum}"
										onclick="open_modal(this)">
									<div class="playername">[[${player.playername}]]</div>
								</div>
								</div>
						</div>

						<div class="positiontxt">포워드</div>
						<div class="position" id="FW">
							<div class="sun">								
								<div th:each="player : ${playerlist}" th:if="${player.playerP == '포워드'}">
									<img src="/images/선수/선수프로필.jpg" alt="" th:id="${player.playernum}"
										onclick="open_modal(this)">
									<div class="playername">[[${player.playername}]]</div>
								</div>
								</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/team/team_info.js"></script>
<script src="/js/index.js"></script>

</html>