<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.goods.GoodsMapper">

 <select id="getgoods">
    SELECT g.*
    FROM goods g

    <choose>
        <!-- 'view_type'이 null이 아닌지 먼저 체크하고, 'H'인 경우 -->
        <when test="view_type != null and view_type == 'H'.toString()">
            <!-- 가장 많이 주문된 goodsnum 순으로 정렬 -->
            ORDER BY 
                (SELECT COUNT(*) 
                 FROM orderList ol 
                 WHERE ol.goodsnum = g.goodsnum) DESC
        </when>
        <!-- 'view_type'이 null이 아닌지 먼저 체크하고, 'N'인 경우 -->
        <when test="view_type != null and view_type == 'N'.toString()">
            <!-- 최신 goodsnum 순으로 정렬 -->
            ORDER BY g.goodsnum DESC
        </when>
        <otherwise>
            <!-- 기본적으로 goodsnum 순으로 정렬 -->
            ORDER BY g.goodsnum
        </otherwise>
    </choose>
</select>
   
   <insert id="putWish">
   	insert into wishList(userid, goodsnum) values(#{userid}, #{goodsnum});
   </insert>

	<select id="getWishgoods">
		SELECT w.wishnum, w.userid, g.goodsnum, g.goodstype, g.goodsname, g.goodsprice, g.goodsimg
		FROM wishList w
		JOIN goods g ON w.goodsnum = g.goodsnum
		WHERE w.userid = #{userid};
	</select>
	
	<insert id="putBuy">
   		insert into buyList(userid, goodsnum, size, quantity) values(#{userid}, #{goodsnum}, #{size}, #{quantity});
   	</insert>
   
   <select id="getBuygoods">
   		select * from buyList where userid=#{userid}
   </select>
   
   <select id="getgoodsBycart">
   	select * from goods where goodsnum=#{goodsnum}
   </select>
   
   <update id="putBuy_modify">
   	update buyList
   	set size=#{size}, quantity=#{quantity}
   	where buynum=#{buynum}
   </update>
   
   <select id="getBuygoodsBybuynum">
   		select * from buyList where buynum=#{buynum}
   </select>

	<delete id="deleteWish">
		delete from wishList
		where wishnum=#{wishnum}
	</delete>
	
	<select id="getwishnumBygoodsnum">
		select wishnum
		from wishList
		where userid=#{userid} and goodsnum=#{goodsnum}
	</select>
	
	<delete id="deleteBuy">
		delete from buyList
		where buynum=#{buynum}
	</delete>
	
	<select id="getbuynumBygoodsnum">
		select buynum
		from buyList
		where goodsnum=#{goodsnum} and size=#{size} and userid=#{userid}
	</select>
	
	<select id="getgoodsBygoodsnum">
		select * from goods where goodsnum=#{goodsnum}
	</select>

</mapper>