<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.goods.GoodsMapper">

   <select id="getgoods">
	select * from goods
   </select>
   
   <insert id="putWish">
   	insert into wishList(userid, goodsnum) values(#{userid}, #{goodsnum});
   </insert>

</mapper>