<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.money.MoneyMapper">
	<insert id="putmoney">
		insert into money(moneytype, moneyname, change_money, userid) values(#{moneytype}, #{moneyname}, #{change_money}, #{userid})
	</insert>

	<select id="getmoney">
		select * from money where userid=#{userid}
	</select>

</mapper>