<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fighting/fighting.css">
    <title>응원 게시판</title>
</head>

<body>
   	<th:block th:replace="~{layout/header::header}"></th:block>
    <div id="wrap">
        <div class="page_title">
            <h1>응원 게시판</h1>
        </div>
        <div class="figting_title">
            <div>
                <div class="fighting_infor">
                    <div>
                        <h3>21:00</h3>
                    </div>
                    <div>윤경수</div>
                    <div>윤혜정</div>
                </div>
                <div class="fighting_infor">
                    <div>
                        <h3>21:00</h3>
                    </div>
                    <div>윤경수</div>
                    <div>윤혜정</div>
                </div>
                <div class="fighting_infor">
                    <div>
                        <h3>21:00</h3>
                    </div>
                    <div>윤경수</div>
                    <div>윤혜정</div>
                </div>
            </div>

            <div class="fighting_pic">
                <div>
                    <p>
                    <h3>03:23:12</h3>
                    </p>
                    <p>라이브가 곧 시작됩니다.</p>
                </div>
            </div>
        </div>

        <div class="paper">
            <p class="tit">당신의 팀에 투표해보세요!</p>
            <div>
                <div class="team">
                    윤경수 팀
                    <p>투표</p>
                </div>
                <div class="point">
                    <div>
                        <div class="left">
                            <p></p>
                            <span>123412 표</span>
                        </div>
                        <div class="right">
                            <p></p>
                            <span>1 표</span>
                        </div>
                    </div>
                    <p>VS</p>
                </div>
                <div class="team">
                    윤혜정 팀
                    <p>투표</p>
                </div>
            </div>
        </div>
        <div class="hello_logo">

            <div class="fight_left">
                <div class="fight_title">
                    <h3>윤경수</h3>
                </div>
                <div class="left_infor">
                    <div>apple</div>
                    <div>우리팀 홧팅!</div>
                </div>
                <div class="left_infor">
                    <div>banana</div>
                    <div>집가고 싶네..</div>
                </div>
                <div class="left_infor">
                    <div>blue</div>
                    <div>뿌엥~</div>
                </div>
                <div id="hello_btn"><button>더보기</button></div>
            </div>
            <div class="fight_logo"><img src="../images/VS.jpg" alt=""></div>
            <div class="fight_right">
                <div class="fight_title">
                    <h3>윤경수</h3>
                </div>
                <div class="right_infor">
                    <div>apple</div>
                    <div>우리팀 홧팅!</div>
                </div>
                <div class="right_infor">
                    <div>banana</div>
                    <div>집가고 싶네..</div>
                </div>
                <div class="right_infor">
                    <div>blue</div>
                    <div>뿌엥~</div>
                </div>
                <div id="hello_btn"><button>더보기</button></div>
            </div>
        </div>
    </div>
    </div>
   <th:block th:replace="~{layout/footer::footer}"></th:block>
    <script src="/js/fighting/응원게시판.js"></script>
</body>

</html>