<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/fighting/fighting.css">
	<title>응원 게시판</title>
	<script th:inline="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/js/index.js"></script>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div id="wrap">
		<!-- 응원 게시판 내용 -->
		<div class="fighting_title">
			<div id="by">
				<div th:each="fight : ${top3Fights}">
					<div class="fighting_infor">
						<h4 th:text="${fight.gwtime}">21:00</h4>
						<div th:text="${fight.team1name}">윤경수 팀</div>
						<div th:text="${fight.team2name}">윤혜정 팀</div>
						<h4 th:text="${fight.gWnum}+'번 경기'">게임 번호</h4>
					</div>
				</div>
			</div>
			<div class="fighting_pic">
				<div>
					<p>
					<h3 id="timer">03:23:12</h3>
					</p>
					<p>라이브가 곧 시작됩니다.</p>
				</div>
			</div>
		</div>

		<!-- 팀 투표 -->
		<div class="paper">
			<p class="tit">당신의 팀에 투표해보세요!</br>경기가 곧 시작됩니다! </p>
			<div>
				<div class="team">
					<div id="team1_name" th:text="${top3Fights[0].team1name}">윤경수 팀</div>

					<button onclick="vote('team1')">투표</button>
				</div>
				<div class="point">
					<div>
						<div class="left">
							<p id="team1_votes">0표</p>
						</div>
						<p>VS</p>
						<div class="right">
							<p id="team2_votes">0표</p>
						</div>
					</div>
				</div>

				<div class="team">
					<div id="team2_name" th:text="${top3Fights[0].team2name}">윤경수 팀</div>
					<button onclick="vote('team2')">투표</button>
				</div>
			</div>
		</div>


		<!-- 채팅 영역 -->
		<div class="hello_logo">
			<div class="fight_left chat-section" id="left_chat">
				<div class="fight_title">
					<h3 th:text="${top3Fights[0].team1name}">윤경수</h3>
				</div>
				<div id="user_info" data-user-id="${session.loginUser}"></div>

				<div class="chat-messages" id="left_chat_messages"></div>

				<div class="chat-input-section">
					<textarea class="chat-input" placeholder="메시지를 입력하세요..."></textarea>
					<button class="send-btn">전송</button>
				</div>
			</div>

			<div class="fight_logo">
				<img src="../images/VS.jpg" alt="">
			</div>

			<div class="fight_right chat-section" id="right_chat">
				<div class="fight_title">
					<h3 th:text="${top3Fights[0].team2name}">윤혜정</h3>
				</div>
				<div id="user_info" data-user-id="${session.loginUser}"></div>

				<div class="chat-messages" id="right_chat_messages"></div>

				<div class="chat-input-section">
					<textarea class="chat-input" placeholder="메시지를 입력하세요..."></textarea>
					<button class="send-btn">전송</button>
				</div>
			</div>
		</div>

	</div>

	<th:block th:replace="~{layout/footer::footer}"></th:block>

	<!-- External JS File -->
	<script th:inline="javascript">
		const loginUser = /*[[${session.loginUser}]]*/ '';  // 세션에서 사용자 ID를 받아옴, 예시로 'guest' 설정
	</script>
	<script src="/js/fighting/응원게시판.js"></script>
</body>

</html>