<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
		integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/play_infor/play_infor.css">
	<title>경기정보 </title>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div id="wrap">

		<!-- 제목과 카테고리 -->
		<div class="page_title">
			<h1>Sports NEWS</h1>
		</div>
		<div class="infor_btn">
			<button>축구</button>
			<button>야구</button>
			<button>농구</button>
			<button>배구</button>
			
		</div>
		<!-- 달력  -->
		<div class="date">
			<div class="day_title">
				<button id="day_title_btn"><i class="fa-solid fa-angle-left"></i></button>
				<div class="day_date" id="currentDate" data-current-date="2024-10-25">
					<p>2024.10.25</p>
				</div>
				<button id="day_title_btn"><i class="fa-solid fa-angle-right"></i></button>
			</div>
			<div class="day_main">

				<button id="day_main_btn"><i class="fa-solid fa-angle-left"></i></button>
				<div class="days">
					<div>
						<p>수</p>
					</div>
					<div>
						<p>2</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>목</p>
					</div>
					<div>
						<p>3</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>금</p>
					</div>
					<div>
						<p>4</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>토</p>
					</div>
					<div>
						<p>5</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>일</p>
					</div>
					<div>
						<p>6</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>월</p>
					</div>
					<div>
						<p>7</p>
					</div>
				</div>
				<div class="days today">
					<div>
						<p>오늘</p>
					</div>
					<div>
						<p class="toda">8</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>수</p>
					</div>
					<div>
						<p>9</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>목</p>
					</div>
					<div>
						<p>10</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>금</p>
					</div>
					<div>
						<p>11</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>토</p>
					</div>
					<div>
						<p>12</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>일</p>
					</div>
					<div>
						<p>13</p>
					</div>
				</div>
				<div class="days">
					<div>
						<p>월</p>
					</div>
					<div>
						<p>14</p>
					</div>
				</div>
				<button id="day_main_btn"> <i class="fa-solid fa-angle-right"></i></button>
			</div>
		</div>
		<div class="line"></div>
		<div class="play_infor">
			<div class="play_infor_title">
				<p>경기 예정</p>
			</div>
			<div class="play_infor_main">
				<div>
					<div>13:00</div>
				
				</div>
				<div>
					<div>윤경수 팀</div>
					<div>12</div>
					<div>예정</div>
					<div>2</div>
					<div>윤혜정 팀</div>
				</div>
				<div>
					<button class="play_infor_main_btn">응원</button>
				</div>
			</div>
			<div class="play_infor_main">
				<div>
					<div>13:00</div>
				
				</div>
				<div>
					<div>윤경수 팀</div>
					<div>12</div>
					<div>예정</div>
					<div>2</div>
					<div>윤혜정 팀</div>
				</div>
				<div>
					<button class="play_infor_main_btn">응원</button>
				</div>
			</div>
			<div class="play_infor_main">
				<div>
					<div>13:00</div>
			
				</div>
				<div>
					<div>윤경수 팀</div>
					<div>12</div>
					<div>예정</div>
					<div>2</div>
					<div>윤혜정 팀</div>
				</div>
				<div>
					<button class="play_infor_main_btn">응원</button>
				</div>
			</div>
			<div class="play_infor_title">
				<p>경기 종료</p>
			</div>
			<div class="play_infor_main">
				<div>
					<div>13:00</div>
				
				</div>
				<div>
					<div>윤경수 팀</div>
					<div>12</div>
					<div>종료</div>
					<div>2</div>
					<div>윤혜정 팀</div>
				</div>
				<div>
					<button class="play_infor_main_btn">기록</button>
				</div>
			</div>
			<div class="play_infor_main">
				<div>
					<div>13:00</div>
					
				</div>
				<div>
					<div>윤경수 팀</div>
					<div>12</div>
					<div>종료</div>
					<div>2</div>
					<div>윤혜정 팀</div>
				</div>
				<div>
					<button class="play_infor_main_btn">기록</button>
				</div>
			</div>
		</div>
		<th:block th:replace="~{layout/footer::footer}"></th:block>
		<script src="/js/play_infor/경기정보.js"></script>

  
</body>

</html>