<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
		integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/play_infor/play_infor.css">
	<title>경기정보 </title>
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div id="wrap">
		<div class="page_title">
			<h1>Sports NEWS</h1>
		</div>

		<!-- 달력 -->
		<div class="date">
			<div class="day_main">
				<button id="day_main_btn"><i class="fa-solid fa-angle-left"></i></button>
				<div class="days">
					<div class="day">
						<p class="weekday-text"></p>
						<p class="day-text"></p>
					</div>
				</div>
				<!-- 월들 -->
				<div class="days month" id="month-1" onclick="filterGamesByMonth(1)">
					<p>1월</p>
				</div>
				<div class="days month" id="month-2" onclick="filterGamesByMonth(2)">
					<p>2월</p>
				</div>
				<div class="days month" id="month-3" onclick="filterGamesByMonth(3)">
					<p>3월</p>
				</div>
				<div class="days month" id="month-4" onclick="filterGamesByMonth(4)">
					<p>4월</p>
				</div>
				<div class="days month" id="month-5" onclick="filterGamesByMonth(5)">
					<p>5월</p>
				</div>
				<div class="days month" id="month-6" onclick="filterGamesByMonth(6)">
					<p>6월</p>
				</div>
				<div class="days month" id="month-7" onclick="filterGamesByMonth(7)">
					<p>7월</p>
				</div>
				<div class="days month" id="month-8" onclick="filterGamesByMonth(8)">
					<p>8월</p>
				</div>
				<div class="days month" id="month-9" onclick="filterGamesByMonth(9)">
					<p>9월</p>
				</div>
				<div class="days month" id="month-10" onclick="filterGamesByMonth(10)">
					<p>10월</p>
				</div>
				<div class="days month" id="month-11" onclick="filterGamesByMonth(11)">
					<p>11월</p>
				</div>
				<div class="days month" id="month-12" onclick="filterGamesByMonth(12)">
					<p>12월</p>
				</div>
				<button id="day_main_btn"> <i class="fa-solid fa-angle-right"></i></button>
			</div>
		</div>
		<div class="line"></div>

		<!-- 경기 예정 -->
		<div class="play_infor">
			<div class="play_infor_title">
				<p>경기 예정</p>
			</div>
			<div class="play_infor_main">
				<div th:each="game : ${upcomingGames}" class="hi">
					<div>
						<div th:text="${game.gwtime}" id="zz">13:00</div>
					</div>
					<div>
						<div th:text="${game.team1name}" id="zz">윤경수 팀</div>
						<div style="margin-left: 50px;">예정</div>
						<div th:text="${game.team2name}" id="zz" style="margin-left: 200px;">윤혜정 팀</div>
					</div>
					<div>
						<button class="play_infor_main_btn">
							<a href="/fighting/fighting">응원</a>
						</button>
					</div>
				</div>
			</div>

			<!-- 경기 종료 -->
			<div class="play_infor_title">
				<p>경기 종료</p>
			</div>
			<div class="play_infor_main">
				<div th:each="game : ${endedGames}" class="hi">
					<div>
						<div th:text="${game.gEdate}" id="zz">13:00</div>
					</div>
					<div>
						<div th:text="${game.team1name}" id="zz">윤경수 팀</div>
						<div th:text="${game.team1score}" id="zz">12</div>
						<div style="margin-left: -50px;">종료</div>
						<div th:text="${game.team2score}" id="zz" style="margin-left: 100px;">2</div>
						<div th:text="${game.team2name}" id="zz">윤혜정 팀</div>
					</div>
					<div>
						<button class="play_infor_main_btn">기록</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>

	<script src="/js/play_infor/경기정보.js"></script>

	<script>
		// 월별 경기 필터링 함수
		function filterGamesByMonth(month) {
			// 월을 기준으로 서버에서 데이터를 가져오기 위해 URL을 수정
			window.location.href = '/play_info/play_info/month?month=' + month;
		}
	</script>

</body>

</html>