<header>
    <link rel="stylesheet" href="/css/header.css">

    <div class="logo">
        <a href="/">KH LEAGUE</a>
    </div>

    <div class="menu_wrap">
        <div class="menus">
            <div class="menu">
                <p>공지사항</p>
                <div class="bar">
                    <div>이벤트</div>
                </div>
            </div>
            <div class="menu">
                <p>경기정보</p>
                <div class="bar">
                    <div>축구</div>
                    <div>야구</div>
                    <div>농구</div>
                    <div>배구</div>
                </div>
            </div>
            <div class="menu">
                <p>팀 소개</p>
                <div class="bar">
                    <div>축구</div>
                    <div>야구</div>
                    <div>농구</div>
                    <div>배구</div>
                </div>
            </div>
            <div class="menu">
                <p>응원게시판</p>
                <div class="bar">
                    <div>응원의<br>한마디</div>
                </div>
            </div>
            <div class="menu">
                <p>경품 SHOP</p>
                <div class="bar">
                    <div><a href="/goods/goods">경품 SHOP</a></div>
                    <div><a href="/goods/prize">당첨자 SHOP</a></div>
                </div>
            </div>
            <div class="menu">
                <p>마이페이지</p>
                <div class="bar">
                    <div>내 프로필</div>
                    <div>구매내역</div>
                    <div>WishList</div>
                    <div>장바구니</div>
                    <div>적립금</div>
                </div>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <!-- <div class="ball_wrap">
        <img src="/images/아이콘/축구공.png" alt="" class="ball">
        <img src="/images/아이콘/야구공.png" alt="" class="ball">
        <img src="/images/아이콘/농구공.png" alt="" class="ball">
        <img src="/images/아이콘/배구공.png" alt="" class="ball">
    </div> -->

    <div class="user_wrap">
        <div class="login_txt">로그인</div>
        <div class="user_line"></div>
        <div class="join_txt">회원가입</div>
    </div>
</header>