<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../../style/admin/admain_time.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>마이페이지-경기일정</title>
	<link rel="stylesheet" href="/css/admin/admin_time.css">
</head>

<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	<div id="wrap">
		<div class="page_title">
			<h1>Admin</h1>
		</div>
		<div class="mypage">
			<div class="mypage_cata">
				<div id="profile"><img src="../images/Group 100.png" alt=""></div>
				<div id="admin_user"><a href="admin_user">유저 관리</a></div>
				<div id="admin_event"><a href="/admin/admin_event">이벤트 추가</a></div>
				<div id="admin_event">당첨자 뽑기</div>
				<div id="admin_time"><a href="admin_time">경기 일정 관리</a></div>

				<div class="line"></div>
				<div id="logo_name">KH LEAGUE</div>
				<div class="choices">
					<div>로그아웃</div>
					<div>회원 탈퇴</div>
				</div>
			</div>
			<div class="list">
				<div class="cata_title">
					<h2>당첨자 뽑기</h2>
				</div>
				
				<div class="pick_wrap">
					<div class="no_event_txt" th:if="${eventlist == null || eventlist.size()==0}">이벤트가 없습니다!</div>
					
					<div th:if="${eventlist != null && eventlist.size()>0}" th:each="events:${eventlist}">
						<div class="every_winner" th:if="${events.winner != null && events.winner != ''}">
							모든 이벤트 당첨자 추첨 완료!
						</div>
						
						<div class="no_winner" th:if="${events.winner == null || events.winner == ''}">															
							<div class="eventlist">
								<div class="eventnum">
									<div>이벤트번호</div>
									[[${events.eventnum}]]
								</div>
							
								<div class="eventtype">
									<div>종류</div>
									[[${events.eventtype}]]
								</div>
							
								<div class="eventitem">
									<div>상품</div>
									[[${events.eventitem}]]
								</div>						
								
								<div class="makebtn">추첨하기</div>
							</div>
														
							<!-- 랜덤 -->
							<div class="make_wrap" th:if="${events.eventtype=='룰렛'}">
								<div class="rullet_box">
									<div class="rullet">
										룰렛돌아가요
									</div>
									<div class="stopbtn">
										STOP
									</div>
								</div>
							</div>
							
							<!-- 단어맞추기 -->
							<div class="make_wrap" th:if="${events.eventtype=='단어 맞추기'}">
								<div class="rullet_box">
									<div class="rullet">
										랜덤돌아가요
									</div>
									<div class="stopbtn">
										STOP
									</div>
								</div>					
							</div>
						</div>
																	
					</div>
				</div>
							
			</div>
		</div>
	</div>
	<th:block th:replace="~{layout/footer::footer}"></th:block>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/js/admin/admin_time.js"></script>
	<script src="/js/admin/admin_makeevent.js"></script>	
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/index.js"></script>
</html>