<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../style/login_page/login_page.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
  </head>

  <body>
    <header>
      <div class="logo">KH LEAGUE</div>

      <div class="menu_wrap">
        <div class="menus">
          <div class="menu">
            <p>공지사항</p>
            <div class="bar">
              <div>이벤트</div>
            </div>
          </div>
          <div class="menu">
            <p>경기정보</p>
            <div class="bar">
              <div>축구</div>
              <div>야구</div>
              <div>농구</div>
              <div>배구</div>
            </div>
          </div>
          <div class="menu">
            <p>팀 소개</p>
            <div class="bar">
              <div>축구</div>
              <div>야구</div>
              <div>농구</div>
              <div>배구</div>
            </div>
          </div>
          <div class="menu">
            <p>응원게시판</p>
            <div class="bar">
              <div>응원의<br />한마디</div>
            </div>
          </div>
          <div class="menu">
            <p>굿즈 SHOP</p>
            <div class="bar">
              <div>굿즈 SHOP</div>
            </div>
          </div>
          <div class="menu">
            <p>마이페이지</p>
            <div class="bar">
              <div>내 프로필</div>
              <div>구매내역</div>
              <div>WishList</div>
              <div>장바구니</div>
              <div>적립금</div>
            </div>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="ball_wrap">
        <img src="/images/아이콘/축구공.png" alt="" class="ball" />
        <img src="/images/아이콘/야구공.png" alt="" class="ball" />
        <img src="/images/아이콘/농구공.png" alt="" class="ball" />
        <img src="/images/아이콘/배구공.png" alt="" class="ball" />
      </div>

      <div class="user_wrap">
        <div class="login_txt">로그인</div>
        <div class="user_line"></div>
        <div class="join_txt">회원가입</div>
      </div>
    </header>

    <div id="wrap">
      <div class="login">
        <h1>LOGIN</h1>
        <div>
          <div>
            <input type="text" id="id" placeholder="USER NAME" />
          </div>
          <div>
            <input type="password" id="password" placeholder="PASSWORD" />
          </div>
        </div>
        <button id="loginButton">LOGIN</button>
        <p class="join-link">GO TO JOIN</p>
      </div>
    </div>

    <footer>
      <div class="veryUp">
        <div>
          <h1>KH LEAGUE</h1>
        </div>
        <div class="footer_num">
          <div>
            <p>T) 02-1313-1414</p>
          </div>
          <div>
            <p>A) 서울시 역삼구 역삼동</p>
          </div>
        </div>
        <div class="footer_logo">
          <div><img src="../images/foot_sns_youtube 1.png" alt="" /></div>
          <div><img src="../images/foot_sns_insta 1.png" alt="" /></div>
          <div><img src="../images/foot_sns_face 1.png" alt="" /></div>
          <div><img src="../images/club-yt 1.png" alt="" /></div>
        </div>
      </div>
      <div class="veryDown">
        <div style="margin-left: 32px">
          <p>Copyright2024.KH.LEAGUE.YOON</p>
        </div>
        <div style="margin-left: -150px">
          <p>개인정보처리방침 | 이용약관 | 찾아오시는길</p>
        </div>
        <div></div>
      </div>
    </footer>
  </body>
</html>
