<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/team_info.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/script/script.js"></script>
    <title>Team INFO</title>
</head>

<body>

    <div class="modal">
        <div class="modal_popup">
            <div class="modal_img">
                <div class="img_bg">
                    <img src="/images/선수/선수프로필.jpg" alt="">
                </div>

                <div class="type">
                    <div>SOCCER</div>
                    <img src="/images/구단/구단 엠블럼1.png" alt="">
                </div>
            </div>

            <div class="modal_info">
                <div class="modal_player_name">
                    <p>세르게이 예바노비치</p>
                    <p>Sergay Evanobich</p>
                </div>

                <div class="modal_player_info">
                    <table>
                        <tbody>
                            <tr>
                                <td>국적</td>
                                <td>소련</td>
                            </tr>
                            <tr>
                                <td>포지션</td>
                                <td>미드필더</td>
                            </tr>
                            <tr>
                                <td>생년월일</td>
                                <td>2024-10-25</td>
                            </tr>
                            <tr>
                                <td>키</td>
                                <td>160.5cm</td>
                            </tr>
                            <tr>
                                <td>몸무게</td>
                                <td>78g</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal_close_btn">
                <div onclick="close_modal()">닫기</div>
            </div>

        </div>
    </div>

    <header></header>

    <div class="top_container">
    </div>

    <div class="container_wrap">
        <div class="container">
            <div class="sports_btn">
                <div>축구</div>
                <div>야구</div>
                <div>농구</div>
                <div>배구</div>
            </div>

            <div class="select_wrap">
                <div class="select_box">
                    <div class="select_team">
                        <div class="team_txt">구단 🔽</div>
                        <div class="team_box">
                            <ul>
                                <li>FC 서울</li>
                                <li>전북 현대 모터스</li>
                                <li>수원 삼성 블루윙즈</li>
                                <li>강원 FC</li>
                                <li>대구 FC</li>
                                <li>성남 FC</li>
                                <li>전남 드래곤즈</li>
                                <li>울산 현대</li>
                                <li>부산 아이파크</li>
                                <li>포항 스틸러스</li>
                            </ul>
                        </div>
                    </div>

                    <div class="select_position">
                        <div class="position_txt">포지션 🔽</div>
                        <div class="position_box">
                            <ul>
                                <li>GK</li>
                                <li>DF</li>
                                <li>MF</li>
                                <li>FW</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="search_box">
                    <input type="search">
                    <a href="#">검색</a>
                </div>
            </div>

            <div class="team_info_wrap">
                <div class="team_img">
                    <img src="/images/구단/구단 엠블럼1.png" alt="">
                </div>

                <div class="team_info">
                    <div class="team_name">FC 서울</div>

                    <div class="team_infos">
                        FC 서울은 이러이러한 팀입니다
                    </div>

                    <div class="go_team">
                        <a href="#">사이트 바로가기</a>
                    </div>
                </div>
            </div>

            <div class="player_info_wrap">
                <div class="players">
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="" onclick="open_modal()">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>

                    <!-- 여기로 선수 추가 -->
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                    <div class="player">
                        <img src="/images/선수/선수프로필.jpg" alt="">
                        <div>김사과</div>
                    </div>
                </div>
            </div>

            <div class="plus_btn">
                <div>더보기</div>
            </div>

        </div>
    </div>

    <footer></footer>
</body>

</html>