<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mypage/mypage_order.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문배송</title>
</head>

<body>
<th:block th:replace="~{layout/header::header}"></th:block>
    <div id="wrap">
        <div class="page_title">
            <h1>MyPage</h1>
        </div>
        <div class="mypage">
            <div class="mypage_cata">
				<div id="profile"><img src="../images/Group 100.png" alt=""></div>
							<div id="my_profile"><a href="mypage_profile">내 프로필</a></div>
							<div id="order"> <a href="mypage_order">주문/배송 조회</a></div>
							<div id="wish-list"><a href="mypage_wish">위시리스트</a></div>
							<div id="bag"><a href="mypage_buy">장바구니</a></div>
							<div id="money"><a href="mypage_money">적립금</a></div>
                <div class="line"></div>
                <div id="logo_name">KH LEAGUE</div>
                <div class="choices">
                    <div>로그아웃</div>
                    <div>회원 탈퇴</div>
                </div>
            </div>
            <div class="list">
                <div>
                    <h1>주문/배송 조회 </h1>
                </div>
                <div class="price-infor">
                    <div class="infor_infor">
                        <h3>0</h3>
                        <p>주문접수</p>
                    </div>
                    <div class="infor_infor">
                        <h3>0</h3>
                        <p>결제완료</p>
                    </div>
                    <div class="infor_infor">
                        <h3>0</h3>
                        <p>배송준비중</p>
                    </div>
                    <div class="infor_infor">
                        <h3>0</h3>
                        <p>배송중 </p>
                    </div>
                    <div class="infor_infor">
                        <h3>0</h3>
                        <p>배송완료</p>
                    </div>
                </div>

                <div class="date_time">
                    <div class="up-side">
                        <div>
                            <p>구매기간</p>
                        </div>
                        <div id="btn"><button>1개월</button></div>
                        <div id="btn"><button>3개월</button></div>
                        <div id="btn"><button>6개월</button></div>
                        <div id="btn"><button>12개월</button></div>
                    </div>
                    <div class="down_side">
                        <div class="date-selection">

                            <div class="start-date">

                                <select name="start-year">
                                    <option>2024</option>

                                </select>
                                <select name="start-month">
                                    <option>09월</option>

                                </select>
                                <select name="start-day">
                                    <option>일</option>

                                </select>
                            </div>
                            <div>~</div>
                            <div class="end-date">
                                <select name="end-year">
                                    <option>연도</option>

                                </select>
                                <select name="end-month">
                                    <option>월</option>

                                </select>
                                <select name="end-day">
                                    <option>일</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item_list">
                    <div class="list_title">
                        <div>주문일자</div>
                        <div>상품</div>
                        <div>수량</div>
                        <div>주문금액</div>
                        <div>상태</div>
                    </div>
                    <div class="item-inforinfor">
                        <div>date</div>
                        <div><img src="../images/굿즈사진2 1.png" alt=""></div>
                        <div>2개</div>
                        <div>360,000원</div>
                        <div>배송중<button>취소</button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>



	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>

</html>